.vs
Debug
x64
bin
/Firmware/OpenIoT.Board/Source/OpenIoT/OpenIoT.ino.esp32da.bin
/Firmware/OpenIoT.Board/Source/OpenIoT/OpenIoT.ino.generic.bin
/Firmware/OpenIoT.Board/Source/OpenIoT/OpenIoT.ino.generic_stm32f103c.bin
obj
